.animated-circuits {
  background:
    linear-gradient(
      120deg,
      rgba(0, 180, 255, 0.15),
      rgba(0, 255, 255, 0.25),
      rgba(0, 180, 255, 0.15)
    );
  background-size: 200% 200%;
  animation: circuitFlow 12s ease-in-out infinite;
  mix-blend-mode: screen;
}

@keyframes circuitFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contenedor-calendly {
  width: 100rem;
  height: auto;
}