

nav {
    background-color:white;
    color: black;
    padding: 1rem;
    text-align: center;
}

main {
    background-color: #ecf0f1;
    padding: 2rem;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
}
